<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Questions Extraction from GTU Pappers</title> -->
    <title>Exam Guide</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="heading">
            Exam Guider
        </div>
        <hr style="margin: 5px;">
        <form action="/generate" method="post">
            <input type="hidden" name="chapters_txt" class="chapters_txt">
            <input type="hidden" name="chapters_weights" class="weights_txt">
            <div class="input year">
                <label for="Select Year">Select Year : </label>
                <select name="YearSelection" id="Select Year" class="YearSelection" required>
                    <option value="Select Year" selected disabled>Select Year From Here</option>
                    {% for year in years %}    
                    <option value="{{year}}" id="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input chapters">
                <label for="Select Chapter">Select Chapter</label>
                <select name="ChapterSelection" id="Select Chapter" class="ChapterSelection">
                    <option value="" id="default">Select Chapter From Here</option>
                    {% for chapter_no in range(1,chapters_len+1) %}  
                    <option value="{{chapter_no}}" id="{{chapter_no}}">Chapter {{chapter_no}} : {{chapters[chapter_no-1]}}</option>
                    {% endfor %}
                </select>
                <div class="select-all">
                    <input type="button" class="btn" onclick="selectAllChapters()" value="Select All Chapters" />
                </div>
            </div>
            <div class="selection">
                <div class="selected_chapters">
                    <p class="chp-txt">Selected Chapters will be Displayed Here</p>
                    <!-- <div class="chapter_card">Chapter 1 -->
                        <!-- <div class="add_weight"><input type="text" name="weight" class="chaper_weight" id="weight" value="100%"></div> -->
                    <!-- </div> -->
                </div>
            </div>
            <div class="add_weights">
                <button class="btn add_weights" onclick="applyWeights()">Apply Weights</button>
            </div>
            <div class="input no_of_que">
                <label for="Select_no_of_que">Select No Of Questions : </label>
                <input type="number" max="100" min="1" value="15" name="no_of_que" required>
            </div>
            <div class="generate_btn">
                <button type="submit" id="submitBtn" >Generate Questions PDF</button>
            </div>
        </form>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>